fastapi
uvicorn[standard]
pydantic
pydantic-settings
httpx
sqlalchemy
psycopg[binary]
boto3
pillow
requests
tomli; python_version < "3.11"
azure-keyvault-secrets
azure-identity
azure-ai-formrecognizer
openai
python-dotenv
nltk
newspaper3k
lxml_html_clean
PyPDF2
python-docx
azure-cognitiveservices-speech
PyYAML
pytest
pytest-asyncio
